/*****   Overall Styles   *****/
body    {
            font-family: "Century Gothic";
            color: rgb(50,50,50);
            background-color: rgb(235,235,211);
        }
h1      {
            border-bottom: 3px solid rgb(50,50,50) ;
        }

/*****   BASIC LAYOUT   *****/
#container  {
                border-radius: 10px;
                margin-left: auto;
                margin-right: auto;
                min-width: 500px;
                width: 1100px;
                background-color: transparent;

            }
#header     {
                width: 1100px;
                height: 130px;
                background-color: rgb(140,140,140);
                border-radius: 10px;
                padding-top: 5px;
                position: relative;
            }
#headerlogo {
                background-image: url(../design/headerlogo.png);
                margin-left: 15px;
                width: 162px;
                height: 120px;
                float: left;
                position: relative;
}
#navigation {
                min-width: 300px;
                width: auto;
                float: right;
                position: relative;
                margin-right: 15px;
                margin-top: 31px;

            }
#navlist    {
                list-style-type: none;
                font-size: 22px;
                width: 525px;
                height:auto;
                border-top: rgb(50,50,50) 2px solid;
            }
#navlist a    {
                    color: rgb(50,50,50);
                }
.navbutton  {
                position: relative;
                background-color: rgb(140,140,140);
                width: 175px;
                height: 50%;
                padding-top: 48px;
                float:left;
                text-align: center;
                display: block;
                }
.navbutton:hover{
                    padding-top: 44px;
                    border-bottom: rgb(50,50,50) 3px solid;
                    background-color: rgb(150,150,150);
                }

#maincontent    {
                    position: relative;
                    background-color: rgb(235,235,211);
                    width: 1100px;
                    border-radius: 10px;
                    padding: 15px 0 15px 0;
                    min-height: 670px;
                }
#menu           {
                    width: 170px;
                    min-height: 650px;
                    background-color: rgb(175,175,175);
                    position: relative;
                    float: left;
                    border-radius: 10px;
                    border: rgb(50,50,50) solid 2px;
                    padding: 10px 1.5px 10px 1.5px;
                }
#content    {
                position: relative;
                width: 884px;
                height: 650px;
                background-color: rgb(175,175,175);
                border-radius: 10px;
                float: right;
                border: rgb(50,50,50) solid 2px;
                padding: 10px;
            }
#footer     {
                position: relative;
                width: 1076px;
                height: 46px;
                background-color: rgb(175,175,175);
                border-radius: 10px;
                border: 2px solid rgb(50,50,50);
                padding: 0 10px 0 10px;
            }

/*****   Login   *****/
#logindiv  {
                 width: 100%;
                 height: auto;
                 background-color: darkcyan;
                 position: relative;
             }
#h3             {
                     margin: 0 !important;
                }
#logindiv input     {
                        width: 166px;
                        margin-top: 5px;
                    }

#registertable td   {
                        height: 50px;
                        border: 0;
                    }
